<div class="container">

  <div class="col-md-12">
    <h3 class="text-center">Cadastre um produto</h3>
  </div>

  <div>
    <div class="form-group">
      <label for="">Nome</label>
      <input type="nome" class="form-control" id="nome" [(ngModel)]="produtos.nome">
    </div>
    <div class="form-group">
      <label for="">Preço</label>
      <input type="preço" class="form-control" id="preco" [(ngModel)]="produtos.preco">
    </div>
    <div class="form-group">
      <label for="">Imagem</label>
      <input type="imagem" class="form-control" id="imagem" [(ngModel)]="produtos.imagem">
    </div>
    <div class="form-group">
      <label for="">Quantidade em estoque</label>
      <input type="estoque" class="form-control" id="qtdEstoque" [(ngModel)]="produtos.qtdEstoque">
    </div>

    <button type="cadastrar" class="btn btn-primary" (click)="publicar()">Cadastrar</button>
  </div>

</div>
<div class="row">

  <div class="col-md-12">
    <h3 class="text-center">Bem vindx a nossa loja</h3>
  </div>

  <div class="col-md-12" *ngIf='alerta'>
    <div class="alert alert-success text-center" role="alert" >
        Postagem apagada com sucesso.
      </div>
    </div>


  <div class="card m-2" style="width: 25rem;" *ngFor="let produtos of listaProdutos">
    <div class="card-header text-center">
      <img src="{{produtos.imagem}}" alt="" width="200px" height="250px">
    </div>
    <h5 class="card-tittle text-center">
      {{produtos.nome}}
    </h5>
    <div class="text-center">
    <p class="card-text">Código: {{produtos.id}}</p>
    <p class="card-text">Preço: R{{produtos.preco | currency}}</p>
    <p class="card-text">Quantidade no Estoque: {{produtos.qtdEstoque}}</p>
  </div>
    <div class="mb-3 mt-3 text-center">
      <button type="salvar" class="btn btn-primary mr-3" [routerLink] = "['/editar', produtos.id]">Editar</button>
      <button type="cancelar" class="btn btn-danger" [routerLink] = "['/deletar', produtos.id]">Excluir</button>
  </div>
  </div>


</div>